.lista { /* Para centar el boton */
    font-size: 1.6em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
botton {
    list-style: none; /*Para quitar el boton de inicio en los link*/
    display: inline-block; /*  */
    padding: 10px 20px; /*  */
    font-size: 14px; /*Se establece el tamaño de la fuente*/
    cursor: pointer; /*  */
    text-align: center; /*  */
    text-decoration: none; /*  */
    outline: none; /*  */
    background-color: rgb(205, 133, 63); /*Color del fondo del boton*/
    border: none; /*Se le hace un color de borde dependiendo de los siguientes datos, ej {2px solid red) se utilizaria sin las comillas*/
  
 
    margin-right: 20px; /*separar los botones*/
 }
 body {
    text-align: center;
 }